.inactive
  %p
    It looks like our Instagram API request limit has been reached!
  %p
    We've deactivated your account at
    %span
      = current_user.deactivate_instagram.strftime("%H:%M on %B %-d %Y.")
    Don't worry, we'll reactivate it at midnight (UTC) when Instagram resets their rate limits.
